@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Peachi';
  src: url('../public/fonts/Peachi/peachi-regular.otf');
}

@font-face {
  font-family: 'Archivo';
  src: url('../public/fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
}

:root {
  --primary-font-family: 'Archivo';
  --secondary-font-family: 'Peachi', Arial, sans-serif;
}

html {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--secondary-font-family);
}

.text-primary {
  color: inherit;
}